/* body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
}
h1 {
    color: #444;
    text-align: center;
}
#file_input {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    padding: 10px;
}
#image_container {
    text-align: center;
    padding: 20px;
}
#image_container img {
    max-width: 90%;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#results {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    white-space: pre-wrap;
    margin-top: 20px;
} */
 /* Basic reset to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #444;
    margin-bottom: 0.5em;
}

/* Style the file input with a more modern appearance */
#file_input {
    cursor: pointer;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s;
}

#file_input:hover {
    border-color: #007BFF;
}

/* Container holding the image and classification results */
#image_container, #results {
    width: 90%;
    max-width: 1500px;
    text-align: center;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Results display styling */
#results {
    font-size: 16px;
    color: #555;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Responsive Design*/
@media (max-width: 1000px) {
    body {
        padding: 10px;
    }

    header, #image_container, #results {
        width: 100%;
    }

    #file_input {
        width: 100%;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
    }
}

